body {
    max-width: 960px;
    margin: 40px auto;
    background-color: #EEEEEE;
    font-size: 18px;
    line-height: 1.6;
    font-family: monospace;
}

header {
    text-align: center;
}

#content {
    overflow: hidden;
}

#streamers {
    width: 30%;
    float: left;
}

#streamers h3 {
    text-align: center
}

#videos {
    width: 70%;
    float: left;
    font-size: 14px;
}

#videos h3 {
    text-align: center;
}

footer {
    float: right;
    margin-top: 50px;
    font-size: 14px;
}

footer a {
    color: black;
}

